<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>JDBCRealm</realm-name>
        <form-login-config>
            <form-login-page>/LogIn.html</form-login-page>
            <form-error-page>/LogOutServlet</form-error-page>
        </form-login-config>
    </login-config>

    <security-constraint>
        <display-name>Beheerder</display-name>
        <web-resource-collection>
            <web-resource-name>Beheerder</web-resource-name>
            <description/>
            <url-pattern>/Gebruikersbeheer.jsp</url-pattern>
            <url-pattern>/GebruikersbeheerDelete.jsp</url-pattern>
            <url-pattern>/GebruikersbeheerEdit.jsp</url-pattern>
            <url-pattern>/GebruikersbeheerLog.jsp</url-pattern>
            <url-pattern>/GebruikersbeheerNew.jsp</url-pattern>
            
            <url-pattern>/BeheerServlet</url-pattern>
            <url-pattern>/BeheerDeleteServlet</url-pattern>
            <url-pattern>/BeheerEditServlet</url-pattern>
            <url-pattern>/BeheerLogServlet</url-pattern>
            <url-pattern>/BeheerNewServlet</url-pattern>
            
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Beheerder</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-role>
        <description/>
        <role-name>Beheerder</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Gebruiker</role-name>
    </security-role>
    
    <welcome-file-list>
        <welcome-file>StartPagina.html</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>401</error-code>
        <location>/LogOutServlet</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/LogOutServlet</location>
    </error-page>
    
    <servlet>
        <servlet-name>BeheerServlet</servlet-name>
        <servlet-class>controller.BeheerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeheerDeleteServlet</servlet-name>
        <servlet-class>controller.BeheerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeheerEditServlet</servlet-name>
        <servlet-class>controller.BeheerEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeheerLogServlet</servlet-name>
        <servlet-class>controller.BeheerLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeheerNewServlet</servlet-name>
        <servlet-class>controller.BeheerNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameStartServlet</servlet-name>
        <servlet-class>controller.GameStartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamePlayServlet</servlet-name>
        <servlet-class>controller.GamePlayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeheerServlet</servlet-name>
        <url-pattern>/BeheerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeheerDeleteServlet</servlet-name>
        <url-pattern>/BeheerDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeheerEditServlet</servlet-name>
        <url-pattern>/BeheerEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeheerLogServlet</servlet-name>
        <url-pattern>/BeheerLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeheerNewServlet</servlet-name>
        <url-pattern>/BeheerNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameStartServlet</servlet-name>
        <url-pattern>/GameStartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamePlayServlet</servlet-name>
        <url-pattern>/GamePlayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
